/Sitca/Resources/Files/*
SitcaApi/Sitca/Resources/Files/*

/Sitca/bin/*
/Sitca.DataAccess/bin/*
/Sitca.Models/bin/*
/Utilities/bin/*
/Sitca/obj/*
/Sitca.DataAccess/obj/*
/Sitca.Models/obj/*
/Utilities/obj/*

SitcaApi/Sitca/bin/
SitcaApi/Sitca.DataAccess/bin/
SitcaApi/Sitca.Models/bin/
SitcaApi/Utilities/bin/
SitcaApi/Sitca/obj/
SitcaApi/Sitca.DataAccess/obj/
SitcaApi/Sitca.Models/obj/
SitcaApi/Utilities/obj/
SitcaApi/Sitca/appsettings.json
