# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.East.iml
# Datasource local storage ignored files
/../../../../../../../../:\Proyectos\Sitca\SitcaApp\Core\.idea\.idea.East\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
